* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 20px;
}   
.left{
    height:100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    
}
.image{
    height: 400px;
    width: 90%;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.left h1{
    margin-top: 30px;
    font-size: 60px;
    font-weight: bold;
}

.right{
    height:100vh;
    width: 500px;
    /* border-left: 2px solid gray; */
    padding-top: 50px;;
}
.right h2{
    font-size: 40px;
    /* margin-top: 2px; */

}
.right ul{
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 20px;
}
.instruction{
    margin-top: 10px;
}
.right h3{
    margin-top:10px;
    font-size: 25px;
}

.star{
height: 20px;
width: 20px;
}